/* Resetting default browser styles */
body, h1, p {
    margin:  0;
    padding: 0;
  }
  
  /* Setting a background color and font for the whole page */
  body {
    background-color: #928585;
    font-family:  Helvetica, sans-serif;
  }
  
  /* Styling the header */
  header {
    background-color: #9e95b4;
    color: #f21616;
    padding: 20px;
    text-align: center;
  }
  .img{
    width: 50px;
    height: 200;
  }
